@import '~antd/dist/antd.css';
/* Provide sufficient contrast against white background */
a {
	color: #0366d6;
}

code {
	color: #e01a76;
}

.btn-primary {
	color: #fff;
	background-color: #1b6ec2;
	border-color: #1861ac;
}

.shadow:hover {
	box-shadow: 0 10px 6px -6px #ddd;
}

.is-loading {
	display: flex;
	justify-content: center;
	align-items: center;
}

.ant-select-selection, .ant-input, .ant-input-number {
	border-color: #40A9FF
}

.ant-modal-header {
	background-color: #1890ff
}

.ant-modal-title, .ant-modal-close-x {
	color: #ffffff
}