.container {
    margin-top: 20px;
}

.box-container {
    position: relative;
    padding: 10px 0;
}

.placeholder {
    height: 150px;
    width: 150px;
    border: 2px solid #ccc;
}

.image {
    width: 100%;
    height: 100%;
}

.image, .placeholder {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.image-wrapper {
    overflow: hidden;
    padding: 2px;
    border: 1px solid #bbb;
}

.attendee-box {
    text-align: center;
}

.inner-box {
    position: relative;
    margin-bottom: 4px;
}

.attendee-box .code {
    font-weight: bold;
    text-decoration: underline;
    font-size: 12px;
}

.attendee-box .name {
    font-size: 14px;
}

.inner-box .inner-box-actions {
    position: absolute;
    bottom: -5px;
    right: -5px;
}

.inner-box .inner-box-actions button {
    margin-left: 3px;
}

/* for space-around style */
.fixed-grid--around {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(156px,1fr));
    justify-items: center;
}
/* both should run fixed width elements equal to the declared in the container */
.grid-element {
    width: calc(150px + 6px); /* image width + (padding left + border width) x 2 */
}

.btn-mark-present {
    color: #fff !important;
    background-color: #52c41a !important;
    border-color: #52c41a !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12) !important;
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

.option-present {
    color: rgba(0, 0, 0, 0.45) !important;
}