.breadcrumb-container span {
	color: gray !important;
}

.inner-layout {
	min-height: 100vh !important;
}

.title-container {
	display: flex;
	flex-direction: row;
	margin: 20px 0;
}

.title-container .title {
	margin-right: 20px;
}

.filter-container {
	display: flex;
	flex-direction: row;
}

.order-by-sub {
	display: inline-block;
	margin-right: 10px;
}

.order-by-select {
	width: 160px;
}

.attendee-container {
	margin-top: 30px;
}

.attendee-container.is-loading {
	height: 60vh;
}

.session-container.is-loading {
	height: calc(100vh - 120px);
}

.present-button {
	margin-right: 30px;
}

.subtitle {
	padding-top: 7px;
}

.actions {
	display: flex;
	flex-direction: row;
}

.actions .buffer {
	width: 50px;
}

.actions .big-buffer {
	width: 80px;
}